<h1> Cadastro de Perguntas</h1>
<div class="form-group">    
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Discipina
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li *ngFor="let d of disciplinas | async" (click)="onSelectDisciplina(d)">
                {{d.nome}}
            </li>
        </ul>
    </div>    
</div>

<div class="form-group">
    <label for="pwd">Disciplina</label>  
    <input type="text" [disabled]="true" class="form-control" [(ngModel)]="disciplina_nome" name="disciplina_nome">        
</div>

<form #f="ngForm" (submit)="form_submit(f)">
<textarea ngModel name="pergunta" placeholder="Pergunta"></textarea>
<textarea ngModel name="resposta" placeholder="Resposta"></textarea>
<input type="number" ngModel name="dificuldade" placeholder="Dificuldade">
<input type="text" ngModel name="comentario" placeholder="Comentario">
<button type="submit">Cadastrar</button>
</form>